.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: lightgrey;
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}